Source: ofono-apndb-plugin
Priority: optional
Maintainer: Ratchanan Srirattanamet <ratchanan@ubports.com>
Build-Depends:
    cmake,
    debhelper-compat (= 12),
    libglib2.0-dev,
# TODO: add other -dev packages, once we make them co-installable.
    ofono-sailfish-dev,
Standards-Version: 4.6.0
Section: libs
Homepage: http://gitlab.com/ubports/development/core/ofono-apndb-plugin
Vcs-Browser: http://gitlab.com/ubports/development/core/ofono-apndb-plugin
Vcs-Git: http://gitlab.com/ubports/development/core/ofono-apndb-plugin.git
Rules-Requires-Root: no

# TODO: add & build other packages, once we figure out how to make multiple
# ofono-*-dev packages co-installable.

Package: ofono-sailfish-apndb-plugin
Architecture: any
Multi-Arch: same
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ofono-sailfish,
Description: oFono apndb provisioning plugin - built against Sailfish fork
 Apndb is an XML format used by Android for their APN database. This plugin
 allows oFono to use such database.
 .
 This package is built against ofono-sailfish variant of oFono.
