Source: ofono-apndb-plugin
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends:
    cmake,
    debhelper-compat (= 12),
    libglib2.0-dev,
    ofono-dev,
Standards-Version: 4.6.0
Section: libs
Homepage: https://github.com/rilmodem/ofono
Vcs-Browser: http://github.com/FuriLabs/ofono-apndb-plugin
Vcs-Git: http://github.com/FuriLabs/ofono-apndb-plugin.git
Rules-Requires-Root: no

Package: ofono-apndb-plugin
Architecture: any
Multi-Arch: same
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    ofono,
Description: oFono apndb provisioning plugin
 Apndb is an XML format used by Android for their APN database. This plugin
 allows oFono to use such database.
